$main-bg-color: rgb(34, 34, 34);
$main-text-color: rgb(216, 216, 216);

$accent-color-blue: rgb(138, 184, 176);
$accent-color-pink: rgb(219, 64, 122);
$accent-color-yellow: rgb(244, 219, 0);

$border-radius: 10px;
