@use '../../globals/globals' as *;

.home {
  min-height: 90vh;

  .title {
    font-size: 4rem;
    width: 100%;
    background-color: $main-text-color;
    color: $main-bg-color;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;

    .lastname {
      padding-left: 10rem;
    }
  }

  .headerImageContainer {
    width: 100%;
    position: relative;
    overflow: hidden;

    img {
      margin: 0;
      width: 100%;
    }
  }

  .headerImageOverlay {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    font-size: 3rem;
    max-width: 40%;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1rem;
  }

  .newsList {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  .news {
    display: flex;
    gap: 1rem;
  }

  .newsContent {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    gap: 1rem;
    font-size: 1.25rem;
  }

  .image-hover {
    width: 25%;
    height: 25%;
    border-radius: $border-radius;
    cursor: pointer;
    margin-block: 1rem;
    aspect-ratio: 1/1;
  }
}

@media (max-width: $mobile-breakpoint) {
  .home {
    .title {
      font-size: 1.5rem;
      padding-top: 4rem;
      padding-bottom: 2rem;
      background-color: black;
      color: $main-text-color;
      z-index: 10;
    }

    .mobileHeader {
      background-color: black;
      padding-top: 9rem;
      padding-bottom: 3rem;
      position: relative;

      p {
        position: absolute;
        top: 3rem;
        right: 0;
        max-width: 70%;
        font-size: 1.2rem;
        text-align: end;
        padding-right: 0.5rem;
      }

      img {
        width: 100%;
      }
    }

    .newsList {
      width: 100%;

      .news {
        display: block;

        .newsText {
          font-size: 1rem;
          padding-bottom: 1rem;
        }
      }

      .mobileNewsAction {
        display: flex;
        align-items: center;
        gap: 1.25rem;
      }

      img {
        width: 40%;
        height: 40%;
        margin: 0;
      }

      .newsContent {
        padding-top: 0;
      }
    }
  }
}
