@use "../../globals/globals.scss" as *;

.shop {
  min-height: 90vh;
  width: 100%;
  padding: 2rem;
}

.shopItems {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 2rem;

  .shopItem {
    width: 20%;
    padding: 1rem;
    padding-bottom: 3rem;
    border: 0.5px solid rgba(227, 227, 227, 0.245);
    border-radius: $border-radius;
    position: relative;
    img {
      width: 100%;
      border-radius: $border-radius;
    }

    .shopItemInfo {
      display: flex;
      justify-content: space-between;

      .shopItemTitle {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
      }

      .shopItemPrice {
        font-size: 1.5rem;
      }
    }

    .shopItemButton {
      width: 80%;
      padding: 0.5rem;
      border: none;
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
      border-radius: $border-radius;
      background-color: $accent-color-blue;
      color: $main-bg-color;
      font-size: 1rem;
      cursor: pointer;

      transition: all 0.2s ease;

      &:hover {
        background-color: $accent-color-pink;
      }
    }
  }
}

.shopItemReleaseDateInfo {
  color: red;
  font-weight: 600;
}

.shopShippingCostInfo {
  width: 100%;
  font-size: 1.15rem;
}

.shopShippingInfoContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.shopShippingInfo {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  position: relative;

  .shopShippingInfoText {
    font-size: 1.15rem;
  }

  .shopShippingSelect {
    padding: 0.75rem;
    border: 1px solid $main-bg-color;
    border-radius: $border-radius;
    background-color: transparent;
    color: $main-bg-color;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:hover {
      border-color: $accent-color-blue;
    }

    &:focus {
      outline: none;
      border-color: $accent-color-blue;
      box-shadow: 0 0 0 2px rgba($accent-color-blue, 0.2);
    }

    option {
      background-color: $main-bg-color;
      color: $main-text-color;
    }
  }

  .warning {
    border-color: red;
  }
}

.shopCart {
  position: relative;
  cursor: pointer;
  background-color: $accent-color-blue;
  width: fit-content;
  border-radius: $border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  color: $main-bg-color;

  .shopCartText {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .shopCartIconContainer {
    position: relative;
  }

  .shopCartIcon {
    z-index: 1;
  }

  .shopCartLength {
    position: absolute;
    top: -0.4rem;
    right: -0.75rem;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: $accent-color-blue;
    border-radius: 50%;
    padding: 0.1rem;
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    scale: 0.8;
  }
}

.shoppingCart {
  position: absolute;
  width: 40rem;
  min-height: 20rem;
  max-height: 80vh;
  z-index: 100;
  right: -30rem;
  top: 4rem;
  background-color: $main-text-color;
  border-radius: $border-radius;
  color: $main-bg-color;
  padding: 1rem;
  overflow-x: hidden;

  .shoppingCartContent {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    scrollbar-color: $accent-color-blue $main-text-color;
    scrollbar-width: thin;
    padding-right: 0.5rem;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background: $main-text-color;

      border-radius: $border-radius;
    }

    &::-webkit-scrollbar-thumb {
      background: $accent-color-blue;
      border-radius: $border-radius;
    }
  }
  .shoppingCartItemTitle {
    font-size: 1.25rem;
  }

  .shoppingCartClose {
    cursor: pointer;
  }

  .shoppingCartHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.shoppingCartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shoppingCartItemControls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  border: 1px solid $accent-color-blue;
  border-radius: $border-radius;
  padding: 0.25rem 0.5rem;

  span {
    width: 0.5rem;
    text-align: center;
  }

  .shoppingCartItemControl {
    cursor: pointer;
    color: $accent-color-blue;
    transition: all 0.2s ease;

    &:hover {
      color: $accent-color-pink;
      scale: 1.1;
    }
  }
}

.shopCartCheckoutButton {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: $border-radius;
  background-color: $accent-color-blue;
  color: $main-bg-color;
  font-size: 1rem;
  cursor: pointer;

  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;

  transition: all 0.2s ease;

  &:hover {
    background-color: $accent-color-pink;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.successModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.912);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  z-index: 1;
  font-size: 2rem;

  p {
    font-size: 1.5rem;
  }

  .closeModal {
    cursor: pointer;
    border: 1px solid $accent-color-blue;
    color: $accent-color-blue;
    border-radius: $border-radius;
    padding: 0.5rem 1.5rem;
    margin-top: 1.5rem;
    transition: all 0.2s ease;

    &:hover {
      background-color: $accent-color-pink;
      border-color: $accent-color-pink;
    }
  }
}

.promoCodeContainer {
  margin: "1rem 0";
  display: flex;
  align-items: center;
  gap: 1rem;

  .promoCodeLabel {
    margin-right: 0.5rem;
  }
  .promoCodeInput {
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid $main-bg-color;
    border-radius: $border-radius-small;
    background-color: transparent;
    color: $main-bg-color;
  }
  .promoCodeButton {
    padding: 0.35rem 0.75rem;
    margin-right: 0.5rem;
    border: none;
    border-radius: $border-radius-small;
    background-color: $accent-color-blue;
    color: $main-bg-color;
    cursor: pointer;
  }

  .promoCodeInvalid {
    color: red;
    font-size: 1rem;
  }

  .promoCodeValid {
    color: $accent-color-blue;
    font-size: 1rem;
  }
}

.promoCodeSaved {
  font-size: 1rem;
  color: $accent-color-blue;
}

@media (max-width: $mobile-breakpoint) {
  .shop {
    padding: 0.5rem;

    .shopItems {
      gap: 2rem;

      .shopItem {
        width: 100%;

        .shopItemInfo {
          .shopItemTitle {
            margin-bottom: 2rem;
          }

          .shopItemPrice {
            margin-top: 0.25rem;
          }
        }

        .shopItemButton {
          &:hover {
            background-color: $accent-color-blue;
          }
        }
      }
    }

    .shopShippingInfoMobile {
      display: flex;
      align-items: center;
      gap: 1rem;

      .shopShippingInfoText {
        white-space: nowrap;
      }
    }

    .shopShippingInfo {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      .shopShippingInfoText {
        font-size: 1.3rem;
      }

      .shopShippingCostInfo {
        font-size: 1.25rem;
        width: 100%;
        margin-bottom: 0.5rem;
      }

      .shopShippingSelect {
        width: 80%;
      }
    }
  }

  .mobileShoppingCartContainer {
    background-color: $main-bg-color;
    padding: 1rem 1rem;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
    width: 100vw;
    z-index: 2;
    position: fixed;
    top: 4rem;
  }

  .shoppingCart {
    position: fixed;
    width: 80vw;
    min-height: 50vh;
    max-height: 90vh;
    overflow-y: auto;
    background-color: $main-text-color;
    border-radius: $border-radius;
    color: $main-bg-color;
    padding: 1rem;
    z-index: 100;
    top: 4rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .shoppingCartItemTitle {
      font-size: 1.25rem;
    }
  }

  .shoppingCartItemControls {
    .shoppingCartItemControl {
      &:hover,
      &:focus {
        color: $accent-color-blue;
        scale: 1;
      }
    }
  }

  .successModal {
    padding: 1rem;
  }

  .promoCodeContainer {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;

    .promoCodeLabel {
      margin-right: 0;
    }
  }
}
