@use "../../globals/globals.scss" as *;

.navbar {
  display: flex;
  gap: 1.5rem;
  font-size: 1.5rem;
  width: 100%;
  height: 2rem;
  justify-content: flex-end;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  padding: 1rem 2rem 1rem 0;
}

.navbar-link {
  color: $accent-color-pink;
  text-decoration: none;
  position: relative;
  font-weight: 600;

  transition: color 300ms ease-in-out;

  &:hover {
    color: $accent-color-blue;
  }
}

.navbar-link::after {
  content: "";
  display: block;
  position: absolute;

  bottom: -2rem;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: $accent-color-blue;

  transform: scaleX(0);
  transform-origin: center;

  transition: transform 300ms ease-in-out;
}

.navbar-link:hover::after {
  transform: scaleX(1);
}

@media (max-width: $mobile-breakpoint) {
  .navbar {
    background-color: black;
    height: 3rem;
    margin: 0;
    padding: 0.5rem;
    padding-inline: 0;
    justify-content: space-evenly;
    font-size: 1.5rem;
    gap: 0.5rem;
    max-width: 100dvw;

    .navbar-link {
      &:hover {
        color: $accent-color-pink;
      }
    }

    .navbar-link::after {
      content: "";
      display: none;
    }

    .navbar-link:hover::after {
      transform: scaleX(0);
    }
  }
}
