@use "../../globals/globals" as *;

.footer {
  height: 4rem;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.104);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .footer-logo {
    cursor: pointer;

    transition: 200ms ease-in-out;

    &:hover {
      color: $accent-color-pink;
      scale: 1.1;
    }
  }

  .footer-copyright {
    position: absolute;
    right: 1rem;
  }
}

@media (max-width: 768px) {
  .footer {
    justify-content: flex-start;
    padding-left: 2rem;
    border-top: 2px solid rgba(255, 255, 255, 0.104);

    background-color: $main-bg-color;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;

    .footer-logo {
      &:hover {
        color: unset !important;
        scale: unset !important;
      }
    }
  }
}
