@use "../../globals/globals" as *;

.footer {
  height: 4rem;
  width: 100dvw;
  border-top: 1px solid rgba(255, 255, 255, 0.104);

  display: flex;
  align-items: center;
  justify-content: center;

  .footer-social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .footer-logo {
    cursor: pointer;

    transition: 200ms ease-in-out;

    &:hover {
      color: $accent-color-pink;
      scale: 1.1;
    }
  }

  .footer-copyright {
    position: absolute;
    right: 1rem;
    white-space: nowrap;
  }
}

@media (max-width: 768px) {
  .footer {
    max-width: 100dvw;
    padding-inline: 1.5rem 1rem;
    border-top: 2px solid rgba(255, 255, 255, 0.104);
    justify-content: space-evenly;
    gap: 1rem;

    background-color: $main-bg-color;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;

    .footer-logo {
      &:hover {
        color: unset !important;
        scale: unset !important;
      }
    }

    .footer-copyright {
      position: relative;
      right: 0;
    }
  }
}
