@use "./globals/globals" as *;

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100..800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100dvw;
  min-height: 100dvh;

  font-family: "Dosis", "Helvetica Neue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: $main-bg-color;
  color: $main-text-color;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;

  overflow-x: hidden;
}

h2 {
  color: $accent-color-blue;
}

p {
  font-size: 0.9rem;
}

.date {
  opacity: 0.8;
  font-size: 0.7rem;
}

.link {
  color: $accent-color-blue;
  text-decoration: none;
  position: relative;

  transition: color 300ms ease-in-out;

  &:hover {
    color: $accent-color-pink;
  }
}

.link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: $accent-color-pink;

  transform: scaleX(0);
  transform-origin: center;

  transition: transform 300ms ease-in-out;
}

.link:hover::after {
  transform: scaleX(1);
}

.linkBlue {
  color: $accent-color-blue;
  text-decoration: none;
  position: relative;

  transition: color 300ms ease-in-out;

  &:hover {
    color: $accent-color-blue;
  }
}

.linkBlue::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: $accent-color-blue;

  transform: scaleX(0);
  transform-origin: center;

  transition: transform 300ms ease-in-out;
}

.linkBlue:hover::after {
  transform: scaleX(1);
}

.image-hover {
  transition: transform 250ms ease-in-out;
}

.image-hover:hover {
  transform: scale(1.1);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: $main-text-color;
  opacity: 0.1;
  margin-block: 1rem;
}

.divider-blue {
  width: 100%;
  height: 1px;
  background-color: $accent-color-blue;
  margin-block: 0.5rem;
}

.withDividerTop {
  border-top: 1px solid $accent-color-blue;
  padding-top: 1rem;
  margin-top: 0.5rem;
}

@media (max-width: $mobile-breakpoint) {
  .app-content {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .link {
    &:hover {
      color: $accent-color-blue;
    }
  }

  .link::after {
    content: "";
    display: none;
  }

  .link:hover::after {
    transform: scaleX(0);
  }
}
