@use "../../globals/globals.scss" as *;

.linkList-container {
  width: 100%;
  min-height: 90vh;
  padding: 2em;

  .backButton {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    padding: 1rem;
    border-radius: $border-radius;
    border: 0.5px solid $accent-color-blue;
    color: $accent-color-blue;

    transition: all 300ms ease-in-out;

    &:hover {
      color: $accent-color-pink;
      border-color: $accent-color-pink;
    }
  }

  .linkCardContainer {
    padding: 4rem 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    .linkCard {
      width: 18rem;
      height: 25rem;
      border: 0.5px solid $accent-color-blue;
      background-color: $main-bg-color;
      border-radius: $border-radius;
      overflow: hidden;
      cursor: pointer;

      display: grid;
      grid-template-rows: 70% 30%;
      gap: 1rem;

      transition: all 300ms ease-in-out;

      &:hover {
        scale: 1.02;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .linkCardContent {
        padding: 1rem;
        padding-top: 0;

        .linkCardTitle {
          font-size: 1.5rem;
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  .linkTreesContainer {
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .linkTree {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-width: 40%;

      .linkTreeCard {
        display: flex;
        align-items: center;
        gap: 1.25rem;
        cursor: pointer;

        border: 0.5px solid $accent-color-blue;
        border-radius: $border-radius;
        padding: 1rem;

        .linkTreeCardIcon {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .linkTreeCardContent {
          display: flex;
          justify-content: center;
          flex-direction: column;
          gap: 0.5rem;

          .linkTreeCardTitle {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .linkList-container {
    .linkCardContainer {
      padding: 2rem 0;

      .linkCard {
        width: 100%;
        aspect-ratio: 1/1.4;
        height: fit-content;

        grid-template-rows: 70% 30%;

        &:hover {
          scale: 1;
        }
      }
    }

    .linkTreesContainer {
      padding: 2rem 0;

      .linkTree {
        width: 100%;
        max-width: 100%;

        .linkTreeCard {
          width: 100%;
        }
      }
    }
  }
}
